* {
    margin: 0;
    padding: 0;
}
.course-section {
    margin-bottom: 10px;
}
.course-section  #course-title {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    padding: 20px 0px;
}
.course-section .training {
    width: 1117px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.course-section .training .training-items {
    flex-basis: 23%;
    text-align: center;
    margin: 10px 0px;
    box-shadow: 0px 0px 3px 1px lightgray;
    padding: 20px 0px;
}
.course-section .training .training-items img {
    width: 120px;
    height: 100px;
}
.course-section .training .training-items h3 {
    padding: 10px 8px;
}
.course-section .training .training-items p {
    color: gray;
    padding: 5px 10px;
}
.course-section .training .training-items button {
    margin: 10px 0px;
    padding: 10px 20px;
    border: none;
    background: blue;
    color: white;
    border-radius: 5px;
}

.course-section .training .training-items:hover{
    background: blue;
}
.course-section .training .training-items:hover h3, .course-section .training .training-items:hover p {
    color: white;
}
.course-section .training .training-items:hover button{
    background: white;
    color: blue;
}

/* responsive screen between 801width to 1200width */
@media (min-width: 801px) and (max-width: 1200px) {
    .course-section .training {
        width: 90%;
    }
    .course-section .training .training-items {
        flex-basis: 30%;
    }
}
@media (min-width: 601px) and (max-width: 800px) {
    .course-section .training {
        width: 90%;
    }
    .course-section .training .training-items {
        flex-basis: 45%;
    }
}

@media (min-width: 200px) and (max-width: 600px) {
    .course-section .training {
        width: 100%;
        flex-direction: column;
    }
    .course-section .training .training-items {
        margin: 10px 10px;
    }
}


 